<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Ereshkidal Dashboard{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
    {% endblock %}
</head>
<body class="admin">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ path('admin_index') }}">Ereshkidal Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_homepage') }}">Return to site</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    {% include '_flash.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            <aside class="col-2 bg-light text-dark vh-100">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('article_create') }}">
                            <span class="fas fa-edit" aria-hidden="true"></span> New article
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_articles') }}">
                            <span class="fas fa-archive" aria-hidden="true"></span> Manage articles
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_comments') }}">
                            <span class="fas fa-comments" aria-hidden="true"></span> Manage comments
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_comments') }}">
                            <span class="fas fa-user" aria-hidden="true"></span> Manage users
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_reports') }}">
                            <span class="fas fa-exclamation-triangle" aria-hidden="true"></span> Manage reports
                        </a>
                    </li>
                </ul>
            </aside>
            <main class="col-10">
                {% block admin_body %}{% endblock %}
            </main>
        </div>
    </div>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
