{% extends 'admin/login.html.twig' %}

{% block title %}Dashboard - Manage Comments{% endblock %}

{% block admin_body %}
    <h2>Manage Comments ({{ pagination.totalItemCount }})</h2>
    <form>
        <div class="input-group mb-3">
            <input type="text" name="q" class="form-control" placeholder="Search..." value="{{ app.request.query.get('q') }}">
            <div class="input-group-append">
                <button type="submit"
                        class="btn btn-dark">
                    <span class="fa fa-search"></span>
                </button>
            </div>
        </div>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Article</th>
                <th scope="col">Author</th>
                <th scope="col">Content</th>
                <th scope="col">Created</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in pagination %}
            <tr>
                <td><a href="{{ path('article_show', {slug: comment.article.slug}) }}">{{ comment.article.title }}</a></td>
                <td>{{ comment.author }}</td>
                <td>{{ comment.content|truncate }}</td>
                <td>{{ comment.createdAt|date }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-center">No result found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
{% endblock %}
