{% extends 'admin/index.html.twig' %}

{% block title %}Dashboard - Manage Reports{% endblock %}

{% block admin_body %}
    <h2>Manage Reports ({{ pagination.totalItemCount }})</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Created</th>
            <th scope="col">Subject</th>
            <th scope="col">Motive</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        {% for report in pagination %}
            <tr>
                <td><a href="{{ path('report_show', {id: report.id}) }}">{{ report.name }}</a></td>
                <td>{{ report.createdAt|date }}</td>
                <td><a href="{{ path('article_show', {slug: report.getSubjectSlug() }) }}">{{ report.subject }}</a></td>
                <td>{{ report.motive }}</td>
                <td>{{ report.status }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-center">No result found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
{% endblock %}
