{% extends 'admin/index.html.twig' %}

{% block title %}Dashboard - Manage Tags{% endblock %}

{% block admin_body %}
    <h2>Manage Tags ({{ pagination.totalItemCount }})</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Use</th>
            <th scope="col">Created</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for tag in pagination %}
            <tr>
                <td><a href="{{ path('tag_show', {slug: tag.slug}) }}">{{ tag.name }}</a></td>
                <td>{{ tag.articles|length }}</td>
                <td>{{ tag.createdAt|date }}</td>
                <td>
                    <a href="{{ path('tag_manage', {slug: tag.slug}) }}" class="btn btn-primary btn-sm" title="Manage tag"><span class="fas fa-edit" aria-hidden="true"></span></a>
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteTag-{{ tag.id }}" title="Delete tag">
                        <span class="fas fa-trash" aria-hidden="true"></span>
                    </button>
                    {#  {{ include('admin/_tag_delete_modal.html.twig', {tag: tag}) }} #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-center">No result found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
{% endblock %}
