<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome to Ereshkidal{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
        <div class="alert alert-warning" style="margin-bottom: 0;">
            You are currently switched to this user.
            <a href="{{ path('app_homepage', {'_switch_user': '_exit'}) }}">Exit Impersonation</a>
        </div>
    {% endif %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand my-brand" href="{{ path('app_homepage') }}">Ereshkidal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_homepage') }}">Talk <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_resume') }}">About</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav ml-auto">
                {% if is_granted('ROLE_USER') %}
                <li class="nav-item dropleft">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="nav-profile-img" src="{{ app.user.getAvatarUrl(100) }}" alt="user avatar">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('article_create') }}">Create a post</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('app_account') }}">See profile</a>
                        <a class="dropdown-item" href="{{ path('admin_index') }}">See dashboard</a>
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
        {% block body %}{% endblock %}
    <footer class="footer bg-light">
        <div class="container text-center">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="https://fr.linkedin.com/" title="LinkedIn" class="text-secondary">
                        <span class="fab fa-linkedin" aria-hidden="true"></span>
                        LinkedIn
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://twitter.com/" title="Twitter" class="text-secondary">
                        <span class="fab fa-twitter" aria-hidden="true"></span>
                        Twitter
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://github.com/" title="Github" class="text-secondary">
                        <span class="fab fa-github" aria-hidden="true"></span>
                        Github
                    </a>
                </li>
            </ul>
            <span class="text-muted">Made with <span class="fas fa-heart" style="color: red;"></span> by Ereshkidal</span>
        </div>
    </footer>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
