{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <main class="col">
                <h1>The main featured article</h1>
                <p>Small excerpt...</p>
            </main>
            <aside class="col">
                <h2>Community favorites</h2>
                <ul>
                    <li>
                        <a href="{{ path('article_show', {slug: 'what-i-like-about-php-8'}) }}">other article 1</a>
                    </li>
                    <li>
                        <a href="{{ path('article_show', {slug: 'docker-is-amazing'}) }}">other article 2</a>
                    </li>
                    <li>
                        <a href="{{ path('article_show', {slug: 'two-years-of-formation'}) }}">other article 3</a>
                    </li>
                </ul>
            </aside>
        </div>
    </div>
    <div class="container mb-5">
        <h2>All posts</h2>
        {% for row in articles|batch(4) %}
        <div class="card-deck mb-3">
            {% for article in row %}
            <div class="card">
                {% if article.imageFilename %}
                    <img src="{{ asset(article.imagePath) }}" class="card-img-top" alt="{{ article.title }}">
                {% else %}
                    <img src="{{ asset('uploads/default/default_image.jpg') }}" class="card-img-top" alt="Default image">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ path('article_show', {slug: article.slug}) }}">{{ article.title }}</a>
                    </h5>
                    <p class="card-text">{{ article.content }}</p>
                    <p class="card-text"><small class="text-muted">{{ article.publishedAt|date('F jS, Y') }}</small></p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
            <p>No content</p>
        {% endfor %}
    </div>
{% endblock %}
