{% extends 'base.html.twig' %}

{% block title %}Read: {{ article.title }}{% endblock %}

{% block body %}
<div class="container">
    <header class="mb-3">
        <small>{{ article.publishedAt|date('F jS, Y') }}</small>
        <h1>{{ article.title }}</h1>
        <span>By <a href="{{ path('app_profile', { id: article.author.id}) }}">{{ article.author }}</a></span>
        {% for tag in article.tags %}
            <span class="badge badge-secondary">{{ tag.name }}</span>
        {% endfor %}
        <span class="pl-2">
            <span class="js-like-article-count">{{ article.heartCount }}</span>
            <a href="{{ path('article_toggle_heart', {slug: article.slug}) }}" class="far fa-heart js-like-article" title="Click to like!"></a>
        </span>
    </header>
    <section class="row">
        <main class="col-9 article-text ">
            {% if article.imageFilename %}
                <img src="{{ asset(article.imagePath) }}" alt="{{ article.title }}">
            {% else %}
                <img src="{{ asset('uploads/default/default_image.jpg') }}" alt="A default image">
            {% endif %}
            {{ article.content }}
        </main>
        <aside class="col-3">
            <strong>Share</strong>
            <ul class="list-group">
                <li class="list-group-item">Nothing to share yet</li>
                <li class="list-group-item">Yup, sorry</li>
            </ul>
            <strong>Actions</strong>
            <div class="list-group">
                {% if is_granted('MANAGE', article) %}
                    {{ include('admin/_article_delete_modal.html.twig', {article: article}) }}
                    <a href="{{ path('article_update', {id: article.id}) }}" class="list-group-item list-group-item-action" title="Update article">
                        <span class="fas fa-edit" aria-hidden="true"></span> Edit
                    </a>
                    <button type="button" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#deleteArticle-{{ article.id }}" title="Delete article">
                        <span class="fas fa-trash" aria-hidden="true"></span> Delete
                    </button>
                {% endif %}
                <a href="{{ path('report_article_create', {id: article.id}) }}" class="list-group-item list-group-item-action">
                    <span class="fas fa-exclamation-triangle" aria-hidden="true"></span> Report this article
                </a>
            </div>
        </aside>
    </section>
    <section>
        <h2>Comments ({{ article.getNonDeletedComments|length }})</h2>
        {% for comment in article.getNonDeletedComments %}
            <section class="row mb-3">
                <div class="col-3">
                    <strong>{{ comment.author }}</strong>
                    <span class="text-muted d-block">{{ comment.createdAt|date('m/d/Y H:i:s') }}</span>
                </div>
                <div class="col-9">
                    {{ comment.content }}
                </div>
            </section>
        {% else %}
            <p>No comments yet</p>
        {% endfor %}
    </section>
</div>
{% endblock %}
